<!DOCTYPE html>
<html ng-app="app">  

<head>
    <title>Small Interactive Pizza Menu.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="menuController">
    <div class="container">
        <h1>Ishu Pizza {{"Menu"}}</h1>

        <!--to display the title variable that you just defined inside your controller rather than static text, replace the contents in h2 -->
        <h2>Tag With {{model.title}}</h2>
        <!-- It is best practice to always bind to an object off of the scope, in this case, "model".
             This provides a clean separation and avoids binding issues in a more complex application-->
        <!-- Putting a $scope variable's name inside an Angular expression {{ }} binds it to the view, and sets up a watcher to keep up on the value. -->
        <!-- (e.g. {{::model.title}}) to perform a one-time binding. -
        if you know a variable isn't going to change in the view, and you just want to bind its initial value, 
        This tells Angular to go ahead and set the value the first time, but not to set a watcher to keep up on it. This can be a useful performance boost for larger applications. -->  
        <div>
            <label><input type="radio" name="category" ng-click="changeMainDish('Cheese Pizza','$120')" /> Cheese Pizza</label>
        </div>
        <div>
            <label><input type="radio" name="category" ng-click="changeMainDish('Pepperoni Pizza','$160')" /> Pepperoni Pizza</label>
        </div>
        <div>
            <label><input type="radio" name="category" ng-click="changeMainDish('Margherita Pizza',,'$150')" /> Margheritha Pizza</label>
        </div>
        <div>
            <label><input type="radio" name="category" ng-click="changeMainDish('BBQ Chicken Pizza',,'$140')" /> BBQ Chicken Pizza</label>
        </div>
        <div>
            <label><input type="radio" name="category" ng-click="changeMainDish('Combo Pizza',,'$130')" />Combo Pizza</label>
        </div>

        <div>
            <h3>Selected Item</h3>
            <pre>{{model.mainDish}}</pre>
        </div>

        <div>
            <h3>Special Instructions</h3>
            <!-- To Two-Way Bind a Variable with ng-model -->
            <textarea class="form-control" ng-model="model.specialInstructions"></textarea>
            <!-- this doesn't do much, but any text in the textarea will be stored in a property named specialInstructions on the scope. -->
        </div>


        <div>
            <h3>Order Summary</h3>
            <pre>{{model.mainDish.name}} {{model.mainDish.price}}  - {{model.specialInstructions}}</pre>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/menuController.js"></script>
</body>
        
</html>